<html>
<head>
	<link href="css/style.css" rel="stylesheet" type="text/css">
	<title>Music App</title>
</head>
<body>
<header>
	
    <div class="container">
		
        <img src="../assets/img/clef.png" alt="logo" class="logo">

        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                {{!-- <li><a href="tools">Tools</a></li> --}}
                {{!-- <li><a href="/about">About</a></li> --}}
                <li><a href="/login">Login</a></li>
                {{!-- <li><a href="#">Sign Up</a></li> --}}

            </li>
            </ul>
        </nav>
    </div>
</header>

<h2>
	<div class="jumbotron">
		<p>About Us</p>
	</div>
</h2>

<div class="aboutBox">
	<p>
		Emerging from necessity, TrebleClef is an online, cloud-based musical
		assistant. 
        
        Users will have access to our tools, which include a tuner,
		metronome, sheet music notebook* as well as a marketplace focused on 
		connecting students with instructors as well as buyers and sellers of 
		musical equipment.
	</p>
</div>



<div class="footer">
	<p> This application is being developed to aid musicians on the quest to creative glory.</p>
</div>

</body>
</html>
