<html>
<head>
	<link href="css/style.css" rel="stylesheet" type="text/css">
	<title>Music App</title>

    {{>facebook}}
    <script src="/js/facebook.js"></script>

</head>
<body>
<header>
	
    <div class="container">
		
        <img src="../assets/img/clef.png" alt="logo" class="logo">

        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                {{!-- <li><a href="tools">Tools</a></li> --}}
                <li><a href="/about">About</a></li>
                {{!-- <li><a href="/login">Login</a></li> --}}
                <li><a href="#">Sign Up</a></li>

            </li>
            </ul>
        </nav>
    </div>
    </header>

<h2>
	<div class="jumbotron">
		<p>Login</p>
	</div>
</h2>


<div class="facebookLogin">
    Please login through facebook
    <fb:login-button scope="public_profile,email" onlogin="checkLoginState();"></fb:login-button>

</div>



<div class="footer">
	<p> This application is being developed to aid musicians on the quest to creative glory.</p>
</div>

</body>
</html>
