<html>
<head>
	<link href="css/style.css" rel="stylesheet" type="text/css">
	<title>TrebleClef</title>

	<script src="soundmanager2.js"></script>
	<script src="../public/js/metronome.js" type="text/javascript"></script>
</head>
<body>
<header>
	
    <div class="container">
		
        <img src="../assets/img/clef.png" alt="logo" class="logo">

        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                {{!-- <li><a href="tools">Tools</a></li> --}}
                <li><a href="/about">About</a></li>
                <li><a href="/login">Login</a></li>
                {{!-- <li><a href="#">Sign Up</a></li> --}}
            </li>
            </ul>
        </nav>
    </div>
</header>

<h2>
	<div class="jumbotron">
		<p>Metronome</p>
	</div>
</h2>

<audio id="met-tick" src="public/assets/audio/tick.mp3"></audio>

<div class="bpm-box">
    <form id="bpm">
        BPM: <input type="text" name="bpm_val" id="bpm_val"><br>
        <button class="met-buttons" type="button" id="start-button"
        onclick="metronome()">Start</button>
        <button class="met-buttons" type="button" id="stop-button"
        onclick="stop()">Stop</button>
    </form>
</div>

<div class="footer">
	<p> This application is being developed to aid musicians on the quest to creative glory.</p>
</div>

</body>
<script>

    var tick = document.getElementById("met-tick");
    met = setInterval(); //  Creates interval object
    // Method to stop the metronome
    function stop() {
        clearInterval(met);
    };
    // Method to start the metronome
    function metronome() {
        var bpm = document.getElementById("bpm_val").value;
        if (bpm == "") {
            alert("Please enter a BPM value.");
            /* Maybe change this if statement to JQuery action 
            to simply append HTML child node instead of an
            alert */
        }
        var tick_rate = 1/(bpm/60); // Seconds per beat
        met(tick.play(), tick_rate*1000);
    };
    // Event methods
    document.getElementById("start-button").onclick = metronome();
    document.getElementById("stop-button").onclick = stop();

</script>




</html>
