<html>
<head>
	<link href="css/style.css" rel="stylesheet" type="text/css">
	<title>Music App</title>
</head>
<body>
<header>
	
    <div class="container">
		
        <img src="../assets/img/clef.png" alt="logo" class="logo">

        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                {{!-- <li><a href="/tools">Tools</a></li> --}}
                <li><a href="/about">About</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="#">Sign Up</a></li>

            </li>
            </ul>
        </nav>
    </div>
</header>

<h2>
	<div class="jumbotron">
		<p>What would you like to do?</p>
	</div>
</h2>

<div class="container_3">
	<ul>
		<div class="container-2">
			<div class="home_buttons">
				<button type="Tuner" id="button">Tuner</button>
				<!-- INCLUDE BUTTON IMAGE HERE -->
			</div>
		</div>
		<div class="container-2">
			<div class="home_buttons">
				<button type="Metronome" id="button">Metronome</button>
				<!-- INCLUDE BUTTON IMAGE HERE -->
			</div>
		</div>
		<div class="container-2">
			<div class="home_buttons">
				<button type="Notebook" id="button">Notebook</button>
				<!-- INCLUDE BUTTON IMAGE HERE -->
			</div>
		</div>
		<div class="container-2">
			<div class="home_buttons">
				<button type="Learn" id="button">Learn</button>
				<!-- INCLUDE BUTTON IMAGE HERE -->
			</div>
		</div>
	</ul>
</div>


<div class="footer">
	<p> This application was developed to aid musicians on the quest to creative glory.</p>
</div>

</body>
</html>
